@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F8F9FA;
  }
}

.wallet-adapter-button-trigger {
  @apply !bg-primary !rounded-full !font-spaceGrotesk !text-[20px]
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-spaceGrotesk 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

@keyframes floating-slow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-floating {
  animation: floating 6s infinite ease-in-out;
}

.animate-floating-slow {
  animation: floating-slow 10s infinite ease-in-out;
}
